In [8]:
2**3

8

In [10]:
def fun():
  "koi bhi string"
  return(1)
print(fun.__doc__[1:])

oi bhi string

In [13]:
l1= [1,2,3,4]
l2= l1.copy()
l2.append(5)
print(l1)

[1, 2, 3, 4]

In [17]:
print("any string in this \t newline")

any string in this 	 newline

In [18]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x) #4
x = s(x) #12
x = r(x) #24
print (x)

24

In [19]:
a = True
b = False
c = False
  
if a or b and c:
    print ("GEEKSFORGEEKS")
else:
    print ("geeksforgeeks")

GEEKSFORGEEKS

In [20]:
values = [1, 2, 3, 4,4]
numbers = set(values) #(1,2,3,4)
 
def checknums(num):
    if num in numbers:
        return True
    else:
        return False
 
for i in  filter(checknums, values):
    print(i)

1
2
3
4
4

In [24]:
counter = {} #dictionary
 
def addToCounter(country):
    if country in  counter:
        counter[country] += 1
    else:
        counter[country] = 1
 
addToCounter('China') #China:1
addToCounter('Japan') #japan:1+1=2
addToCounter('china')
addToCounter('australia') #china:1
 
print(len(counter))
counter

4

{'China': 1, 'Japan': 1, 'australia': 1, 'china': 1}

In [23]:
nameList = ['Harsh', 'Pratik', 'Bob', 'Dhruv']
  
pos = nameList.index("GeeksforGeeks")
  
print (pos * 5)

ValueError: ignored

In [25]:
geekCodes = [1, 2, 3, 4]
  
geekCodes.append([5,6,7,8])
print (len(geekCodes))

  
print(geekCodes)

5
[1, 2, 3, 4, [5, 6, 7, 8]]

In [26]:
def gfgFunction():
    "Geeksforgeeks is cool website for boosting up technical skills"
    return 1
  
print (gfgFunction.__doc__[17:21])

cool

In [27]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute']
check2 = check1
check3 = check1[:] 
  
check2[0] = 'Code' #[code, quiz, pra, contri]
check3[1] = 'Mcq'  #[learn, mcq, prac, contri]
  
count = 0
for c in (check1, check2, check3):
    if c[0] == 'Code': 
        count += 1 #2
    if c[1] == 'Mcq':
        count += 10 #12
  
print (count)

12

In [28]:
list1 = [1, 2, 3, 4, 5]
list2 = list1
  
list2[0] = 0;
  
print ("list1= : ", list1)

list1= :  [0, 2, 3, 4, 5]

In [29]:
print ('C:\\inside C directory') # statement1
  
print (r'C:\\inside C directory')

C:\inside C directory
C:\\inside C directory

In [30]:
print ('\x25\x26')

%&

In [31]:
list = [1, 2, 3, None, (1, 2, 3, 4, 5), ['Geeks', 'for', 'Geeks']]
print (len(list))

6

In [32]:
d1 = [10, 20, 30, 40, 50]
d2 = [1, 2, 3, 4, 5]
print (d1 - d1)

TypeError: ignored

In [35]:
list = ['a', 'b', 'c']*-3
print (list)

[]

Exception handling

In [36]:
data = 50
try:
    data = data/0
except ZeroDivisionError:
    print('Cannot divide by 0 ', end = '')
else:
    print('Division successful ', end = '')
  
try:
    data = data/5
except:
    print('Inside except block ', end = '')
else:
    print('GFG', end = '') #cfg

Cannot divide by 0 GFG

In [37]:
value = [1, 2, 3, 4]
data = 0
try:
    data = value[4]
except IndexError:
    print('GFG', end = '')
except:
    print('GeeksforGeeks ', end = '')

GFG

In [39]:
value = [1, 2, 3, 4]
data = 0
try:
    data = value[3] #4
except IndexError:
    print('GFG IndexError  ', end = '')
except:
    print('GeeksforGeeks IndexError  ', end = '')
finally:
    print('Geeks IndexError  ', end = '')
  
data = 10
try:
    data = data/0
except:
    print('GFG ZeroDivisionError  ', end = '')
finally:
    print('Geeks ZeroDivisionError  ')

Geeks IndexError  GFG ZeroDivisionError  Geeks ZeroDivisionError

In [40]:
value = [1, 2, 3, 4, 5]
try:
    value = value[5]/0
except (IndexError, ZeroDivisionError):
    print('GeeksforGeeks ', end = '')
else:
    print('GFG ', end = '')
finally:
    print('Geeks ', end = '')

GeeksforGeeks Geeks

In [42]:
data = [2, 3, 9]
temp = [[x for x in[data]] for x in range(3)] #2 3 9
print (temp)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]]

In [43]:
L1 = []
L1.append([1, [2, 3], 4])
L1.extend([7, 8, 9])
print(L1[0][1][1] + L1[2])

11

In [44]:
T1 = (1)               #this is integer and not tuple. Tuple of single element is (1,)
T2 = (3, 4)            #this is tuple
T1 += 5                #can add integer with integer
print(T1)
print(T1 + T2)         #cannot add tuple and integer

6

TypeError: ignored

In [45]:
L = [1, 3, 5, 7, 9]
print(L.pop(-3), end = '  ')
print(L.remove(L[0]), end = '  ')
print(L)

5  None  [3, 7, 9]

In [41]:
data = 50
try:
    data = data/10
except ZeroDivisionError:
    print('Cannot divide by 0 ', end = '')
finally:
    print('GeeksforGeeks ', end = '')
else:
    print('Division successful ', end = '')

SyntaxError: ignored